---
steps:
  - task: PowerShell@2
    displayName: Install dotnet hosting bundle
    inputs:
      filePath: $(Agent.BuildDirectory)/s/scripts/install_dotnet_hosting_bundle.ps1
  - task: PowerShell@2
    displayName: Add hosts entry
    inputs:
      filePath: $(Agent.BuildDirectory)/s/scripts/add_hosts_entry.ps1
  - task: PowerShell@2
    displayName: Add local cert
    inputs:
      filePath: $(Agent.BuildDirectory)/s/scripts/add_local_cert.ps1
  - task: PowerShell@2
    displayName: Configure IIS
    inputs:
      filePath: $(Agent.BuildDirectory)/s/scripts/iis/configure_iis.ps1
  - task: PowerShell@2
    displayName: Configure serverpark
    inputs:
      filePath: $(Agent.BuildDirectory)/s/scripts/blaise/configure_serverpark.ps1
